@import "tailwindcss";

@theme {
  --color-accent: #59b1f6;
  --color-bg-primary: #121212;
  --color-text-primary: #f5f5f5;
  --color-card-primary: #1a1a1a;
  --color-border-primary: #2a2a2a;
  
  --font-family-sans: 'Inter', sans-serif;
}